header {
  height: 64px;
  border-bottom: 1px solid #888;
  background: #222;
  color: #fff;
  padding: 16px;
}

nav {
  background: yellowgreen;
  float: left;
  padding: 16px;
  width: 160px;
  height: calc(100vh - 64px);
}

.book {
  border: 1px solid red;
  text-align: center;
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  margin: 8px;
}

.book_title {
  font-size: 24px;
  font-weight: 700;
}

.book_subtitle {
  font-size: 16px;
  color: #888;
}